ul.ratings {
  li {
    background-color:var(--clr-neutral-300);
    font-weight: var(--fw-bold);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-inline: auto;
    max-width: 25rem;
    gap: 0;
    align-items: center;

    &::before {
      content: '';
      width: 100px;
      height: 1rem;
      margin: 0 auto;
      display: block;
      background-image: url(../../images/icon-star.svg);
      margin-bottom: 0.5rem;
      background-repeat: space;
    }

    @media (min-width: 700px) {
      justify-content: left;
      gap: 2rem;
      margin-right: 3rem;

      &::before {
        margin: 0;
      }

      &:first-of-type {
        transform: translateX(-3rem);
      }

      &:last-of-type {
        transform: translateX(3rem);
      }
    }
  }
}